  <div class="container" id="content">
    
    <div class="row">
     <a href="/project_management">
            <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-book fa-5x"></i>
              <P>Project Management</p>

            </div>
            </div>
            </a>
           <a href="">
            <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-book fa-5x"></i>
              <P>Accounts</p>

            </div>
            </div>
            </a>

              <a href="">
             <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-group fa-5x"></i>
              <P>User Management</p>
             
            </div>
            </div>
            </a>

             
              <a href="">
             <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-briefcase fa-5x"></i>
              <P>User Payroll</p>
             
            </div>
            </div>
            </a>

             <a href="">
            <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-bus fa-5x"></i>
              <P>Stock</p>
             
            </div>
            </div>
            </a>

            <a href="">
            <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-money fa-5x"></i>
              <P>Accounts</p>
             
            </div>
            </div>
            </a>

            <a href="">
            <div class="col-md-4 col-lg-4 col-sm-6">
            <div class="thumbnail" id="catagorythumb">

              <i class="fa fa-money fa-5x"></i>
              <P>Asset Management</p>
             
            </div>
            </div>
            </a>
    </div>
    </div><!-- /.container -->
