<%= simple_form_for(@schedule_of_work,:html=>{:class=>"form-compact"}) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <h3>Items</h3>
    <div id="tasks">
      <%= f.simple_fields_for :sections do |task| %>
        <%= render 'section_fields', :f => task %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add section', f, :sections %>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
