<hr>
<div class="nested-fields row">
 <%= f.input :name,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
   
  <%= f.association :unit, :wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'}%>
  <%= f.input :price,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
  <%= f.input :premium,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
  <%= f.input :unitMultiplier,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
  <%= f.input :displayUnit,:wrapper_html =>{:class=>'col-md-1 col-sm-2 col-xs-3'} %>
 <%= f.input :description,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
   <%= f.input :remarks ,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'}%>
  <div class="form-group col-md-2 col-sm-4 col-xs-6">
        <label for="ssn">Add</label><br>
          <%= link_to_remove_association "remove item", f ,:class=>"btn btn-primary btn-xs"%>
      </div>

</div>
