<hr>
<div class="nested-fields table-bg-accent row">
 <%= f.input :name,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
 <%= f.input :description,:wrapper_html =>{:class=>'col-md-4 col-sm-6 col-xs-8'} %>
  <div class="form-group col-md-2 col-sm-4 col-xs-6">
        <label for="ssn">Add</label><br>
          <%= link_to_remove_association "remove item", f ,:class=>"btn btn-primary btn-xs"%>
      </div>
      <div class="form-group col-md-2 col-sm-4 col-xs-6">
        <label for="ssn">Toggle</label><br>
        <a onclick="alert('hello')" class="btn btn-primary btn-xs">Collapse</a>
      </div>
</div>
  <div class="container row">
      <%= f.simple_fields_for :schedule_of_works_items do |task| %>
        <%= render 'schedule_of_works_item_fields', :f => task %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add item', f, :schedule_of_works_items %>
      </div>
    </div>