<h1>Listing schedule of works</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @schedule_of_works.each do |schedule_of_work| %>
      <tr>
        <td>
          <%= schedule_of_work.name %>
        </td>
        <td>
          <%= schedule_of_work.description %>
        </td>
        <td>
          <%= link_to 'Show', schedule_of_work %>
        </td>
        <td>
          <%= link_to 'Edit', edit_schedule_of_work_path(schedule_of_work) %>
        </td>
        <td>
          <%= link_to 'Destroy', schedule_of_work, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Schedule of work', new_schedule_of_work_path %>
