<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @schedule_of_work.name %>
</p>
<p>
  <b>Description:</b>
  <%= @schedule_of_work.description %>
</p>
<%= link_to 'Edit', edit_schedule_of_work_path(@schedule_of_work) %>
\|
<%= link_to 'Back', schedule_of_works_path %>
