<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.association :role %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
