<div class="nested-fields row">
  <%= f.association :resource ,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'}%>
  <%= f.input :quantity,:wrapper_html =>{:class=>'col-md-2 col-sm-4 col-xs-6'} %>
   
   <div class="form-group col-md-2 col-sm-4 col-xs-6">
   <label for="ssn">Price</label><br>
   <%if f.object.resource%>
   <input class="form-control col-md-2 col-sm-4 col-xs-6" type="text" readonly="true" value="<%=f.object.resource.price %>/<%=f.object.resource.unit.name %>" >
    <%end%>
  </div>


   <div class="form-group col-md-2 col-sm-4 col-xs-6">
   <label for="ssn">Total</label><br>
   <%if f.object.total%>
  <input class="form-control col-md-2 col-sm-4 col-xs-6" type="text" readonly="true" value="<%=f.object.total %>" >
    <%end%>
  </div>

  <div class="form-group col-md-2 col-sm-4 col-xs-6">
        <label for="ssn">Remove</label><br>
          <%= link_to_remove_association "remove item", f ,:class=>"btn btn-primary btn-xs"%>
      </div>
</div>
