<%= simple_form_for(@cost_book) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :specification %>
    <%= f.input :remarks %>
    <%= f.association :schedule_of_work %>
  </div>
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
