<p> Analysis of rates of <%=@item.schedule_of_works_item.name%> <%=@item.schedule_of_works_item.description%> for cost book <%=@item.cost_book.name%></p>
<h2>Resources to make 1 <%=@item.schedule_of_works_item.unit.name%> of <%=@item.schedule_of_works_item.description%></h2>
<%= simple_form_for  @item,:html=>{:class=>"form-compact"},:url=>update_schedule_item_path do |f| %>
<div class="form-inputs">
  <div id="tasks">
    <%= f.simple_fields_for :cost_book_item_resources do |task| %>
      <%= render 'cost_book_item_resource_fields', :f => task %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add resource', f, :cost_book_item_resources %>
    </div>
    <div class="container row">
      <span>Total Resource Costs:<%= @item.total_cost_book_item_resources %></span>
    </div>
     <%= f.simple_fields_for :over_heads do |task| %>
      <%= render 'over_head_fields', :f => task %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add overhead', f, :over_heads %>
    </div>
    <div class="container row">
      <span>Total Overhead Costs:<%= @item.total_over_heads %></span>
    </div>

  </div>
  </div>
   <div class="container row">
      <span>Total Costs:<%= @item.cost_totals %></span>
    </div>
   <div class="form-actions">
  <%= f.button :submit %>
  </div>
<% end %>
<%= link_to 'Back to costbook', edit_cost_book_path(:id=>params[:cost_book_id]) %>