<h1>Editing Cost Book</h1>

<%= simple_form_for(@cost_book) do |f| %>
<%= f.error_notification %>
<div class="form-inputs">
	<%= f.input :name %>
	<%= f.input :specification %>
	<%= f.input :remarks %>
	<%= f.association :schedule_of_work %>
	<h2>Please Select Schedule of Works to Include In this cost Book</h2>
	<table class="table">
<thead>
			<th>
				Name
			</th>
			<th>
				Description

			</th>
			<th>
				

			</th>
			<th>
				Stated Price

			</th>
			<th>
				Analysed Price

			</th>
			<th>
				

			</th>
		</thead>
		<% @cost_book.schedule_of_work.sections.each do |section| %>
		<thead>
			<th>
				<%= section.name %>

			</th>
			<th>
				<%= section.description %>

			</th>
			<th>
				

			</th>
			<th>
				

			</th>
			<th>
				
<th>
				

			</th>
			</th>
		</thead>
		<% section.schedule_of_works_items.each do |item| %>
		<tr>
			<td>
				<%= check_box_tag "cost_book[schedule_of_works_item_ids][]",item.id,@cost_book.schedule_of_works_item_ids.include?(item.id) %>
			</td>
			<td>
				<%= item.name %>
			</td>
			<td>
				<%= item.description %>
			</td>
			<td>
				<%= item.price %>
			</td>
			<td>
				<%= item.cost_book_item.cost_totals %>
			</td>
						<td>
				<%if @cost_book.schedule_of_works_item_ids.include?(item.id) %>
				<%=link_to "Analysis Rates",analysis_of_rate_path(:cost_book_id=>@cost_book.id,:id => item.id),{ :class=>"btn btn-primary btn-xs" } %>
								<%end%>
							</td>
		</tr>
		<% end %>
		<% end %>
	</table>
</div>
<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>

<%= link_to 'Show', @cost_book %> |
<%= link_to 'Back', cost_books_path %>
