<p id="notice"><%= notice %></p>

<h1>Listing Cost Books</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Specification</th>
      <th>Remarks</th>
      <th>Schedule of work</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_books.each do |cost_book| %>
      <tr>
        <td><%= cost_book.name %></td>
        <td><%= cost_book.specification %></td>
        <td><%= cost_book.remarks %></td>
        <td><%= cost_book.schedule_of_work.name %></td>
        <td><%= link_to 'Show', cost_book %></td>
        <td><%= link_to 'Edit', edit_cost_book_path(cost_book) %></td>
        <td><%= link_to 'Destroy', cost_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost book', new_cost_book_path %>
