<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cost_book.name %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @cost_book.specification %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @cost_book.remarks %>
</p>

<p>
  <strong>Schedule of work:</strong>
  <%= @cost_book.schedule_of_work %>
</p>

<%= link_to 'Edit', edit_cost_book_path(@cost_book) %> |
<%= link_to 'Back', cost_books_path %>
