<%= simple_form_for(@project) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :cost_book %>
  </div>
   <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
