<h1>Editing Project</h1>

<%= simple_form_for(@project) do |f| %>
<div class="form-inputs">
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.association :cost_book %>
</div>
<table class="table">
	<thead>
	<th></th>
		<th>
			Name
		</th>
		<th>
			Description

		</th>
		<th>
			Section

		</th>
		<th>
			Price

		</th>
	</thead>
	<tbody>
	<%@project.cost_book.cost_book_schedule_items.each do |item|%>
	<tr>
		<td>
			<%= check_box_tag "project[cost_book_schedule_item_ids][]",item.id,@project.cost_book_schedule_item_ids.include?(item.id) %>
		</td>
		<td>
			<%= item.schedule_of_works_item.name %>
		</td>
		<td>
			<%= item.schedule_of_works_item.description %>
		</td>
		<td>
			<%= item.schedule_of_works_item.section.description %>
		</td>
		<td>
			<%= item.cost_totals %>
		</td>
	</tr>	
	<%end%>
	</tbody>
</table>
<div class="form-actions">
	<%= f.button :submit %>
</div>
<% end %>
<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
