<%= simple_form_for(@resource) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :specification %>
    <%= f.input :resource_type , :as => :select, :collection => Resource.resource_types.keys.to_a %>
    <%= f.association :unit %>
    <%= f.input :price %>
    <%= f.input :remarks %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
