<p id="notice"><%= notice %></p>

<h1>Listing Resources</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Specification</th>
      <th>Type</th>
      <th>Unit</th>
      <th>Price</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td><%= resource.name %></td>
        <td><%= resource.specification %></td>
        <td><%= resource.resource_type %></td>
        <td><%= resource.unit.name %></td>
        <td><%= resource.price %></td>
        <td><%= resource.remarks %></td>
        <td><%= link_to 'Show', resource %></td>
        <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
        <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource', new_resource_path %>
