<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @resource.specification %>
</p>

<p>
  <strong>Type:</strong>
  <%= @resource.resource_type %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @resource.unit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @resource.price %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @resource.remarks %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
