<h1>Listing roles</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td>
          <%= role.name %>
        </td>
        <td>
          <%= role.description %>
        </td>
        <td>
          <%= link_to 'Show', role %>
        </td>
        <td>
          <%= link_to 'Edit', edit_role_path(role) %>
        </td>
        <td>
          <%= link_to 'Destroy', role, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Role', new_role_path %>
