<p id="notice">
  <%= notice %>
</p>
<p>
  <b>Name:</b>
  <%= @role.name %>
</p>
<p>
  <b>Description:</b>
  <%= @role.description %>
</p>
<%= link_to 'Edit', edit_role_path(@role) %>
\|
<%= link_to 'Back', roles_path %>
