<h1>Listing units</h1>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td>
          <%= unit.name %>
        </td>
        <td>
          <%= link_to 'Show', unit %>
        </td>
        <td>
          <%= link_to 'Edit', edit_unit_path(unit) %>
        </td>
        <td>
          <%= link_to 'Destroy', unit, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<%= link_to 'New Unit', new_unit_path %>
