<%= simple_form_for(@tenant,:url => register_path) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :company_name %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :subdomain %>
    <%= f.input :email %>
    <%= f.input :password %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
